.food-card__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: calc(100% - 60px);
  margin-bottom: 30px;
  padding: 30px;
  border: 2px solid #FFB000;
  border-radius: 30px;

}

.food-card__container:first-of-type {
  margin-top: 30px;
}

.food-name-label {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  width: 100%;
  margin: 0;
}

.food-card-img__container {
  width: 40%;
}

/* .food-card-img__container img {
  width: 120px;
  height: 120px;
} */

.range-select__container {
  display: flex;
  flex-direction: column;
}

.range-select__container input {
  width: 100%;
  accent-color: #197553;
  background: #197553;
}

.range-select__container input:disabled {
  color: #197553;
  accent-color: #197553;
}

.food-range-number {
  font-size: 16px; 
}

.create-food-item-btn {
  width: 200px;
}

.food-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  gap: 4px;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 600;
  line-height: 28px;
}

.take-photo-btn {
  width: 130px;
  height: 130px;
  background: #FFB000;
}

.take-photo-btn svg {
  outline: none;
}

.take-photo-btn :active,
.take-photo-btn:focus,
.take-photo-btn:focus-visible,
.take-photo-btn:hover {
  outline: 4px solid #197553;
}

.food-name input {
  width: calc(100% - 40px);
  padding: 10px 20px;
  border: 0;
  border-radius: 20px;
  background-color: #FAE7B2;
  color: #000;
}

.food-name button {
  height: 36px;
  font-size: 14px;
}

.food-range-number {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.food-card-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  color: #000;
}

.food-unit {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 20px;
  width: 100%;
  font-weight: 600;
}

.food-unit input[type="radio"] {
  appearance: checkbox;
  -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
  -moz-appearance: checkbox;    /* Firefox */
  -ms-appearance: checkbox;     /* not currently supported */
}
 
.refrigerated {
  margin-bottom: 20px;
  font-weight: 600; 
}

.food-unit {
  margin-bottom: 5px;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
}

.confirm-btn {
  font-weight: 700;
  color: #2E2217;
  background-color: #FFB000;
}

@media (min-width: 768px) {
  .food-card-img__container {
    width: 30%;
  }

  .food-card-content {
    width: 70%;
  }
}