.food-item__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
  font-size: 14px;
  text-align: left;
}

.create-food__btn{
  background-color: #197553;
  color: #fff;
}
.btn__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 30px;
}