.food-card__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.food-name {
  font-size: 20px;
  font-weight: 600;
  color:#197553;
}

.food-card-img__container {
}

h4{
  margin: 20px 0 5px 0;
}
.food-card-img__container img {
  width: 120px;
  height: 120px;
}

.range-select__container {
  display: flex;
  flex-direction: column;
}

.range-select__container input {
  width: 100%;
  accent-color: #197553;
}

.create-food-item-btn {
  width: 200px;
}

.food-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  gap: 15px;
}

.take-photo-btn {
  width: 130px;
  height: 130px;
  background: #FFB000;
}

.take-photo-btn svg {
  outline: none;
}

.take-photo-btn :active,
.take-photo-btn:focus,
.take-photo-btn:focus-visible,
.take-photo-btn:hover {
  outline: 4px solid #197553;
}

.food-name input {
  width: 100%;
  padding: 10px 20px;
  border: 0;
  border-radius: 20px;
  background-color: #FAE7B2;
  color: #000;
}

.food-name button {
  height: 36px;
  font-size: 14px;
}

.food-range-number {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.food-card-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: #000;
}

.food-unit {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 20px;
  width: 100%;
  font-weight: 600;
  padding-bottom: 10px;
}

.food-unit input[type="radio"] {
  appearance: checkbox;
  -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
  -moz-appearance: checkbox;    /* Firefox */
  -ms-appearance: checkbox;     /* not currently supported */
}
 
.refrigerated {
  font-weight: 600; 
}

.card-actions{
  margin-top: 20px;
}

.confirm-btn{
  background-color: #197553;
  color: #fff;
}

